@model Mk.ViewModels.FolderViewModel
@{
    ViewData["Title"] = "VH trafikskola";
}

<div class="page-header">
    <h1>@Model.name</h1>
</div>

<table class="table">
    <thead>
        <tr>
            <td>Question</td>
            <td>Your answer</td>
            <td>Result</td>
        </tr>
    </thead>
    @foreach (var question in Model.questions)
    {
        if (question.selected == 0)
        {
            <tr class="warning">
                <td>@question.title</td>
                <td>@question.userAnswer</td>
                <td><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></td>
            </tr>
        }
        else if (question.correct == question.selected)
        {
            <tr class="success">
                <td>@question.title</td>
                <td>@question.userAnswer</td>
                <td><span class="glyphicon glyphicon-ok" aria-hidden="true"></span></td>
            </tr>
        }
        else
        {
            <tr class="danger">
                <td>@question.title</td>
                <td>@question.userAnswer</td>
                <td>@question.result</td>
            </tr>
        }
    }
</table>

<p>
    @Html.ActionLink("Done", "Folders", "Home", new { Model.language }, new { @class = "btn btn-primary" })
</p>